/* Estilos para o cabeçalho */
header {
    width: 100%;
    background-color: #3A4976;
}

/* Estilos para o menu de navegação */
.nav-allcompany {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav-allcompany img {
    width: 150px;
}

/* Estilos para o título principal */
.title-home {
    padding: 20px;
    text-align: center;
}

.title-home h3 {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 900;
}

/* Estilos para o grupo de entrada */
.input-group .input-group-text {
    background-color: #3A4976;
    border: none;
}

.input-group-text i {
    color: white;
}

.input-group .form-control {
    border-left: none;
}

/* Estilos para a informação de pesquisa */
.search-info {
    color: #6c757d;
    font-size: 0.9rem;
    margin-top: 10px;
    text-align: center;
}

/* Estilos para o cartão personalizado */
.card-custom {
    background-color: #3A4976;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 300px;
    margin: 20px auto;
    position: relative;
    border: 1px solid #ddd;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos para a imagem do colaborador */
.profile-collaborator img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background-color: #000;
}

.profile-collaborator h3, .profile-collaborator p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Estilos para o rótulo de promoção */
.promotion-label {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #48aa71;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    z-index: 1;
    animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
    0% {
        background-position: -200px 0;
    }
    100% {
        background-position: 200px 0;
    }
}

/* Estilos para a barra de status */
.status {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.status .list-address {
    padding: 0;
    gap: 10px;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

/* Estilos para os botões na home */
.buttons-home {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 6px;
}

.buttons-home button, .buttons-home a {
    width: 50%;
    background-color: #3A4976;
    border: #3A4976 solid 1px;
}

.buttons-home button:hover, .buttons-home a:hover {
    background-color: #5a6793;
    border: #5a6793 solid 1px;
}

/* Estilos para o modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1050;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-backdrop {
    display: none !important;
}

.modal-dialog {
    margin: auto;
}

.modal-myaccount-localization {
    padding: 25px 20px;
}

.header-modal-localization {
    padding: 15px 10px;
    background-color: #3a4976;
}

.title-localization {
    margin-bottom: 0;
    position: relative;
    font-weight: 600;
    text-transform: uppercase;
    padding: 6px;
}

.close-localization {
    position: absolute;
    top: -4px;
    right: -2px;
    background-color: transparent;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: none;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0;
}

.title-localization::after {
    content: '';
    position: absolute;
    bottom: -47px;
    left: 6%;
    transform: translateX(-50%);
    border-width: 16px;
    border-style: solid;
    border-color: #3a4976 transparent transparent transparent;
}

.body-localization {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#map-container {
    height: 350px !important;
}

.body-localizacao iframe {
    width: 100%;
    border: solid 5px #3A4976;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    margin-bottom: 0;
}

.buttons-modalLocalization {
    background-color: #edf3f6;
    gap: 12px;
    padding: 12px;
    display: flex;
    flex-direction: row;
    width: 100%;
}

#exitModalLocalization {
    margin-right: 20px;
    color: red;
    font-weight: 300;
    width: 50%;
    background-color: transparent;
    border: none;
}

#exitModalLocalization:hover {
    background-color: red;
    color: white;
    border-radius: 2px;
}

#goMaps {
    margin-right: 10px;
    color: #edf3f6;
    font-weight: 300;
    width: 50%;
    padding: 12px;
    background-color: #5ad678;
    border-radius: 2px;
    border: none;
}

#loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

/* Responsividade */
@media (max-width: 768px) {
    .card-custom {
        margin-bottom: 15px;
        width: 80%;
    }

    .buttons-home button, .buttons-home a {
        width: 48%;
    }
}

@media (max-width: 576px) {
    .promotion-label {
        font-size: 12px;
        padding: 3px 6px;
        top: 5px;
        right: 5px;
    }

    .title-home h3 {
        font-size: 18px;
    }

    .profile-collaborator img {
        width: 60px;
        height: 60px;
    }

    .card-custom {
        width: 100%;
        padding: 10px;
    }

    .buttons-home button, .buttons-home a {
        width: 100%;
    }
}
