
.toast {
    margin-bottom: 0.5rem; /* Espaçamento entre toasts se houver mais de um */
}


.card-header {
    background-color: #3a4976 !important;
    color: #ffffff !important;

}


.add-service-btn {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    transition: background-color 0.3s ease;
}

.add-service-btn i {
    font-size: 1.2rem;
}

.add-service-btn:hover {
    background-color: #218838;
}

.box-buttons-services{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6px;
    margin-top: 10px;
}

.box-buttons-services button{
    width: 46%;
}

.truncate {
    max-width: 200px;
    white-space: nowrap; /* Não permite que o texto quebre em várias linhas */
    overflow: hidden; /* Oculta o texto que ultrapassa o container */
    text-overflow: ellipsis; /* Adiciona reticências quando o texto é truncado */
}

.toast-body p {
    margin-bottom: 0.5rem;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black with opacity */
    justify-content: center;
    align-items: center;
}

.modal-content{
    padding: 25px 20px;
}

.modal-header{
    border-radius: 0px !important;
    padding: 15px 10px;
    background-color: #3a4976;
}

.modal-title{
    margin-bottom: 0px;
    position: relative;
    font-weight: 600;
    text-transform: uppercase;
    padding: 6px;
}


.modal-title::after {
    content: '';
    position: absolute;
    bottom: -47px; /* Adjust this value to move the arrow up/down */
    left: 6%;
    transform: translateX(-50%);
    border-width: 16px; /* Size of the arrow */
    border-style: solid;
    border-color: #3a4976 transparent transparent transparent;
}

.modal-body{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px !important;
    margin: 0px;
    padding-bottom: 0px !important;
}

.serviceForm-inputs{
    padding: 12px;
}

.input-serviceModal{
    padding: 6px;
    width: 100%;
    border-radius: 0px;
    border: solid 1px #3a4976;
}

#serviceForm{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.modalService-buttons{
    background-color: #edf3f6;
    gap: 12px;
    padding: 12px;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.buttons-modalBiografia button{
    width: 50%;
}

#cancel{
    margin-right: 20px;
    color: red;
    font-weight: 300;
    width: 50%;
    background-color: transparent;
    border: none;
}

#cancel:hover{
    background-color: red;
    color: white;
    border-radius: 2px;
}

#save{
    border: none !important;
    margin-right: 10px;
    color: #edf3f6;
    font-weight: 300;
    width: 50%;
    padding: 12px;
    background-color: #5ad678 !important;
    border-radius: 2px;
}
