.title-home{
    padding: 20px;
    text-align: center;
}

.title-home h3{
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 900;
}

.card-custom {
    background-color: #3A4976;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 300px;
    margin: 20px auto;
}

.profile-collaborator img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background-color: #000;
}

.profile-collaborator h3, .profile-collaborator p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.status {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.status-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}


.status div {
    display: flex;
    align-items: center;
}

.buttons-home {
    display: flex;
    justify-content: space-between;
}

.buttons-home a {
    width: 45%;
    background-color: #3A4976;
    border: #424242 solid 1px;
}
