.profile-name {
    padding: 20px;
}

.profile-name h3 {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 900;
    margin-left: 50px;
}

.main-myAccount {
    display: flex;
    justify-content: center;
    margin: 0px 64px;
    padding: 28px 56px;
}

.card-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 32%;
    background-color: white;
    border: solid 1px gray;
    box-sizing: border-box;
    margin-right: 20px; /* Espaçamento entre o card e a biografia */
}

.card-profile .image-profile {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-height: 100px;
    max-height: 200px;
    background-color: #3a4976;
    min-height: 80px;
}

.card-profile .image-profile img {
    position: absolute;
    bottom: -50px;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: 5px solid #3a4976;
}

.icon-image-profile {
    position: absolute;
    top: calc(100% - -30px); /* Ajusta a posição relativa ao final da imagem */
    left: 50%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Ajusta para centralização exata */
    border-radius: 50%;
    width: 36px;
    height: 36px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.info-card-profile {
    margin-top: 76px;
    color: black;
}

.info-card-profile h4 {
    text-align: center;
}

.info-profile-list {
    padding: 0px;
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 26px;
}

.info-profile-list li {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0px;
}

.image-container {
    position: relative;
}

.info-profile-list li img {
    width: 26px;
    border: solid 1px transparent;
    transition: border-color 0.3s ease;
}


.biografia {
    display: flex;
    flex-direction: column;
    color: black;
    width: 58%; /* Faz a biografia ocupar o restante do espaço */
}

.list-biografia {
    padding: 0;
    display: flex;
    flex-wrap: wrap; /* Permite que os itens quebrem para a linha abaixo quando não há mais espaço */
    gap: 12px;
    list-style: none;
}

.list-biografia li {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 0px; /* Espaçamento entre os itens */
}

.list-biografia li p {
    background-color: #bababa;
    padding: 4px;
    border-radius: 6px;
    margin-bottom: 0; /* Removido para evitar duplicação do espaçamento */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 200px;
}

.icon-Edit-biogragia{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #909dc4 !important;
    border: solid 1px black;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.biografia-serices-favorite{
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    list-style: none;
}

.biografia-serices-favorite p{
    margin-bottom: 0px;
    padding: 8px;
    background-color: #909dc4;
    border-radius: 6px;
}

.conquistas {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 28px 20px;
    margin: 30px 0px;
    width: 100%;
    max-height: 500px;
    overflow: auto; /* Add overflow:auto to allow scrolling if content exceeds max-height */
    background-color: #6d82c4;
}

.list-conquistas {
    margin-bottom: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap; /* Permitir que os itens quebrem para a linha seguinte se necessário */
    gap: 52px; /* Espaçamento entre os itens */
    justify-content: space-between; /* Alinhar os itens horizontalmente */
}

.list-conquistas li {
    flex: 1; /* Fazer com que os itens ocupem o espaço disponível igualmente */
    max-width: 150px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    gap: 4px;
}

.list-conquistas img {
    width: 30px;
    margin-bottom: 0px; /* Adicionar um espaçamento inferior para separar a imagem do texto */
}

.list-conquistas li p {
    margin-bottom: 0;
    text-decoration: underline;
}

.list-conquistas li h4 {
    margin: 0px 0 0; /* Ajustar a margem para separar verticalmente os elementos */
}



@media (max-width: 767px) {
    .profile-name {
        padding: 20px;
    }

    .profile-name h3 {
        font-size: 22px;
        text-transform: uppercase;
        font-weight: 900;
        margin-left: 10px;
    }

    .main-myAccount {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        margin: 0px;
        padding: 0px;
    }

    .card-profile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0px;
        width: 100%;
        height: auto;
        background-color: white;
        border-top: none;
        border-right: none;
        border-left: none;
        border-bottom: solid 1px gray;
    }

    .card-profile .image-profile {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        background-color: #3a4976;
        min-height: 100px;
    }

    .card-profile .image-profile img {
        position: absolute;
        bottom: -30px;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        border: 5px solid #3a4976;
    }

    .icon-image-profile {
        position: absolute;
        border-radius: 50%;
        top: 110px;
        left: 50%;
        transform: translateX(-50%);
        width: 36px;
        height: 36px;
        background-color: gray;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .info-card-profile{
        margin-top: 50px;
    }

    .biografia {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 10px;
        padding: 20px;
    }

    .list-biografia {
        padding: 0;
        display: flex;
        flex-direction: row;
        gap: 12px;
        list-style: none;
    }

    .list-biografia li {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-bottom: 0px; /* Espaçamento entre os itens */
    }

    .list-biografia li p {
        background-color: #bababa;
        padding: 4px;
        border-radius: 6px;
        margin-bottom: 0; /* Removido para evitar duplicação do espaçamento */
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        min-width: 50px; /* Mínimo que o elemento pode encolher */
        max-width: 150px; /* Máximo que o elemento pode expandir */
    }

    .biografia-serices-favorite{
        padding: 0px;
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
        list-style: none;
    }

}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black with opacity */
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-dialog {
    margin: auto;
}

.modal-myaccount-editPhoto{
    padding: 25px 20px;
}

.header-modal-EditImage{
    padding: 15px 10px;
    background-color: #3a4976;
}

.title-editImageModal {
    margin-bottom: 0px;
    position: relative;
    font-weight: 600;
    text-transform: uppercase;
    padding: 6px;
}

.close-editImage {
    position: absolute;
    top: -4px;
    right: -2px;
    background-color: transparent;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: none;
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0; /* Remove any default padding */
}

.title-editImageModal::after {
    content: '';
    position: absolute;
    bottom: -47px; /* Adjust this value to move the arrow up/down */
    left: 6%;
    transform: translateX(-50%);
    border-width: 16px; /* Size of the arrow */
    border-style: solid;
    border-color: #3a4976 transparent transparent transparent;
}

.body-editImageModal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#modalImage {
    display: block;
    margin: 20px auto;
    border-radius: 50%;
    object-fit: cover; /* Garante que a imagem cubra todo o espaço do contêiner sem distorção */
}


.iconMyCorte-editImagelModal{
    position: relative;
    background-color: white;
    border: solid gray 1px;
    border-radius: 50%;
    top: -30px;
}

.iconMyCorte-editImagelModal img{
    border-radius: 50%;
}

.editImageModal-options{
    display: flex;
    flex-direction: row;
    background-color: #edf3f6;
    width: 100%;
    gap: 12px;
    padding: 12px;
}

#deletePhoto{
    margin-right: 20px;
    color: red;
    font-weight: 300;
    width: 50%;
    background-color: transparent;
    border: none;
}

#deletePhoto:hover{
    background-color: red;
    color: white;
    border-radius: 2px;
}

#selectPhoto{
    margin-right: 10px;
    color: #edf3f6;
    font-weight: 300;
    width: 50%;
    padding: 12px;
    background-color: #5ad678;
    border-radius: 2px;
    border: none;
}

#uploadPhoto{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.editImageModal-optionsUpload{
    display: flex;
    width: 100%;
    gap: 12px;
    justify-content: center;
}

#updatePhoto{
    margin-right: 10px;
    color: #edf3f6;
    font-weight: 300;
    width: 50%;
    padding: 12px;
    background-color: #5ad678;
    border-radius: 2px;
    border: none;
}

#cancelUpload{
    margin-right: 20px;
    color: red;
    font-weight: 300;
    width: 50%;
    background-color: transparent;
    border: none;
}

#cancelUpload:hover{
    background-color: red;
    color: white;
    border-radius: 2px;
}

