/* Nome do perfil */
.profile-name {
    background-color: #3a497684;
    text-align: center;
    padding: 20px 0;
    color: white;
}

/* Seção dos agendamentos */
.section-myCuts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-color: #f1f1f1;
}

/* Container principal dos agendamentos */
.main-myCuts {
    width: 100%;
    max-width: 1200px;
}

/* Mensagem de sem agendamentos */
.no-schedules {
    text-align: center;
    font-size: 1.2em;
    color: #777;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Container de cada agendamento */
.card-schedule {
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.card-schedule:hover {
    transform: translateY(-5px);
}

/* Informações do agendamento */
.info-schedule {
    flex: 1;
    min-width: 300px;
    margin-bottom: 20px;
}

.title-card-myCuts{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon-infoChedule-mycuts{
    margin-bottom: 2px;
}

.info-schedule h4 {
    gap: 10px;
    margin: 0px;
    font-size: 1.5em;
    color: #333;
}

.info-schedule p {
    margin: 5px 0;
    font-size: 1em;
    color: #555;
}

/* Serviços do agendamento */
.services-schedule {
    flex: 1;
    min-width: 300px;
    margin-bottom: 20px;
}

.services-schedule h5 {
    margin: 0 0 10px;
    font-size: 1.3em;
    color: #333;
}

.services-schedule ul {
    list-style-type: none;
    padding: 0;
}

.services-schedule ul li {
    background-color: #eaeaea;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
    font-size: 1em;
    color: #333;
    transition: background-color 0.3s ease;
}

.services-schedule ul li:hover {
    background-color: #d4d4d4;
}

/* Container do mapa */
.map-container {
    width: 100%;
    min-width: 400px;
    margin-top: 20px;

}

.map-title {
    font-size: 1.2em;
    margin-bottom: 10px;
    text-align: center;
    color: #333;
}

.map-container iframe {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    border: solid 5px #3A4976;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    animation: borderFlash 2s linear infinite;
}

@keyframes borderFlash {
    0% {
        box-shadow: 0 0 5px white, 0 0 5px white, 0 0 10px white;
    }
    50% {
        box-shadow: 0 0 3px rgba(58, 73, 118, 0.76), 0 0 3px rgba(58, 73, 118, 0.76), 0 0 3px rgba(58, 73, 118, 0.76);
    }
    100% {
        box-shadow: 0 0 5px white, 0 0 5px white, 0 0 10px white;
    }
}


/* Botões de ação */
.action-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.action-buttons .btn {
    transition: transform 0.3s, background-color 0.3s;
}

.action-buttons .btn:hover {
    transform: scale(1.05);
}

.action-buttons .btn:active {
    transform: scale(0.95);
}

/* Efeito visual para botão Cancelar */
.btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
}

/* Efeito visual para botão Reagendar */
.btn-warning:hover {
    background-color: #e0a800;
    border-color: #d39e00;
}

/* Responsividade para os botões */
@media (max-width: 768px) {
    .action-buttons {
        justify-content: center;
    }
}
