/* Estilo para a dropdown de filtros */
.input-group-append {
    margin-left: 10px;
}

.input-group-append .form-select {
    border: 1px solid #3A4976;
    border-radius: 0 4px 4px 0;
    color: #495057;
}

.input-group-append .form-select:focus {
    box-shadow: 0 0 0 0.25rem rgba(58, 73, 118, 0.25);
}

/* Banner de status */
.status-banner {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 0.9em;
    font-weight: bold;
    z-index: 1;
}

.status-cancelled {
    background-color: red;
}

.status-completed {
    background-color: green;
}

.status-rescheduled {
    background-color: rgba(255, 196, 0, 0.82);
    color: black; /* Muda a cor do texto para melhorar a legibilidade no fundo amarelo */
}

/* Restante do CSS */
.profile-name {
    background-color: #3a497684;
    text-align: center;
    padding: 20px 0;
    color: white;
}

.section-myCuts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-color: #f1f1f1;
}

.main-myCuts {
    width: 100%;
    max-width: 1200px;
}

.no-schedules {
    text-align: center;
    font-size: 1.2em;
    color: #777;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-schedule {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.card-schedule:hover {
    transform: translateY(-5px);
}

.info-schedule {
    flex: 1;
    margin-bottom: 20px;
}

.title-card-myCuts {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon-infoChedule-mycuts {
    margin-right: 10px;
}

.info-schedule h4 {
    margin: 0;
    font-size: 1.5em;
    color: #333;
}

.info-schedule p {
    margin: 5px 0;
    font-size: 1em;
    color: #555;
}

.services-schedule {
    flex: 1;
    margin-bottom: 20px;
}

.services-schedule h5 {
    margin: 0 0 10px;
    font-size: 1.3em;
    color: #333;
}

.services-schedule ul {
    list-style-type: none;
    padding: 0;
}

.services-schedule ul li {
    background-color: #eaeaea;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
    font-size: 1em;
    color: #333;
    transition: background-color 0.3s ease;
    word-wrap: break-word; /* Adiciona a quebra de palavra */
}

.services-schedule ul li:hover {
    background-color: #d4d4d4;
}

@media (max-width: 768px) {
    .profile-name h3 {
        font-size: 1.5em;
    }

    .info-schedule h4 {
        font-size: 1.2em;
    }

    .info-schedule p {
        font-size: 0.9em;
    }

    .services-schedule {
        margin-bottom: 0px;
    }

    .services-schedule h5 {
        font-size: 1.1em;
    }

    .services-schedule ul li {
        font-size: 0.9em;
        padding: 8px;
    }

    .status-banner {
        position: relative;
        width: auto;
        max-width: 100%;
        top: -10px;
        right: unset;
        font-size: 0.8em;
        padding: 3px 7px;
    }
}

/* Estilos para o input de pesquisa em MyHistoricCutsClient */
.input-group .input-group-text {
    background-color: #3A4976;
    border: none;
}

.input-group-text i {
    color: white;
}

.input-group .form-control {
    border: 1px solid #3A4976;
    border-left: none;
    border-radius: 0 4px 4px 0;
    color: #495057;
}

.input-group .form-control:focus {
    box-shadow: 0 0 0 0.25rem rgba(58, 73, 118, 0.25);
}

.search-info {
    color: #6c757d;
    font-size: 0.9rem;
    margin-top: 10px;
    text-align: center;
}

#loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
