
.cardAvailability {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 12px;
}

.cardAvailability-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardAvailability-form {
    margin-top: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    display: flex;
    flex: 1;
    margin-bottom: 20px;
}


.cardAvailability-form,a{
    width: 100%;
    margin-top: 12px;
}


@media (max-width: 768px) {

}

@media (max-width: 480px) {

}
